---
layout: default
---

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        {{ content }}
      </div>
      <div class = "col-md-1">
         
      </div>
      <div class="col-md-5 align-self-center">
        <div class="float-right">
          <div class="mx-auto" style="width: 100%;">
          <!-- <div class="d-flex justify-content-center align-items-center style="height: 30vh;" class="mx-auto d-block"> -->
           <img class="mx-auto d-block" src="{{ site.github.url }}/assets/black_canyon.png" alt="Contact" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
